.container {


}

#main_bio {
    background-color: #efeee7;
    font: Times New Roman;
    color: #333333;




}

#figure {


}

#bio-name {
            color: #333333;
            font-size: 24px;
}

#bio-image {


}

#contact-info {


}

#header1 {
    color: #eee;
    font-size: 28px;

}